/*body {
  width: 800px;
  height: 600px;
  background-image: url("../imagens/background_lab.png");
}*/

.balao {
  width: 91.62%;
  height: 98px;
  background-image: url("../imagens/balao.png");
  float: left;
  position: absolute;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

.balao_top {
  top: 5%;
  left: 4.19%;
}

.balao_bottom {
  top: 80%;
  left: 4.19%;
}

p a{
  color: lime;
  text-decoration: none;
}

p.balao_texto {
}

p.animado{
  animation: type 3s steps(60, end); 
}

p.animado:nth-child(2){
  animation: type2 6s steps(60, end);
}

p.animado:nth-child(3){
  animation: type3 12s steps(60, end);
}

p.animado_rapido {
  animation: type 1s steps(30, end); 
}

span.animado {
  animation: blink 1s infinite;
  -webkit-animation: blink 1s infinite;
  z-index: 10;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
}

@keyframes type3{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}

.botaoAcelerar {
  height: 38px;
  width: 35px;
  position: absolute;
  background-image: url('../imagens/botao_acelerar.png');
  cursor: pointer;
  bottom: 2%;
  right: 2%;
}

.desativado {
    -webkit-filter: opacity(30%);
    filter: opacity(30%);
}

.scrollbar::-webkit-scrollbar-track
{
  
  background-color: transparent;
  
}

.scrollbar::-webkit-scrollbar
{
  width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb
{
  background-color: transparent;

  
}

.scrollbar:hover::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  background-color: rgba(245, 245, 245, 0.2);
}

.scrollbar:hover::-webkit-scrollbar-thumb
{
  background-color: #848484;
}

/*animação para quando alguem está digitando(bolinhas pulando)*/
.enviando{
  min-height: 20px;
  color:#505050;
  font-size:25px;
  font-family: "Ubuntu";
  line-height: 0px;
  width: fit-content;
  padding: 0px 6px 3px 6px !important;
}

.enviando span{
  position: relative;
  top:2px;
  animation: jump 1s infinite;
}

.enviando span:nth-child(2){
  animation-delay: 0.1s;
}
.enviando span:nth-child(3){
  animation-delay: 0.2s;
}

@keyframes jump {
  0% {top: 2px;}
  50% { top: 7px; }
  100% {top: 2px; }
}
/*//////////////////////////////////////////////////////////////*/
