@font-face {
  	font-family: "Ubuntu";
  	src: url(../fontes/Ubuntu-R.ttf);
}

#bg, #ajuda, #celular, #termometro, #cientista, #Enviar{
	position: absolute;
	left: 0;
	top:0; 
}

.clicavel{
	cursor: pointer;
}

.butto-option{
	background-color: #2aa089;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1% 0% 1% 0%;
    font-size: 15px;
    font-family: "Ubuntu";
    cursor: pointer;
}

.butto-option:hover{
	background-color: #156b5a;
}

.mensagem_recebida{
	position: relative;
	background-color: #fcfcfc;
	color: black;
	border-radius: 7px 7px 7px 0px;
	width: 210px;
    padding: 2%;
	min-height: 20px;
	margin: 5px;
	font-family: "Ubuntu";
	font-size: 14px;
    clear: both;
}

.mensagem_enviada{
	position: relative;
	color: black;
	background-color: #98FB98;
	border-radius: 7px 7px 0px 7px;
	width: 210px;
	min-height: 20px;
    padding: 2%;
	margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
	font-family: "Ubuntu";
	font-size: 14px;
    float: right;
	width: fit-content ;
	width: -webkit-fit-content;
	width: -moz-fit-content;
}

div{
	left: 0;
	top:0; 
}

#dialogBox{
	color: #fcfcfc;
	background-image: url(../imagens/background_celular.png);
	position: absolute;
	font-size: 12px;
	width: 248px;
	height: 140px;
	left: 250px;
	top: 200px;
	overflow-y: auto;
}


#ajuda{
	position: absolute;
	margin-top: 10px;
	margin-left: 60px; 
}

#celular{
	position: absolute;
	margin-top: 99px;
	width: 444px;
	height: 501px;
	margin-left: 120px; 
}
#radar{
	position: relative;
	margin-top: 15px;
	left: 680px;
}
#spinner{
	position: absolute;
	transform-origin:0 0;
	left: 50px;
	margin-top: 50px; 
	width: 40px;
	height: 44px;
	-webkit-animation: scan 5s linear infinite;
	animation: scan 5s linear infinite;
	background: linear-gradient(-310deg, #fafafa 0%, transparent 49%);
	border-radius: 0 0 120px 0; 
}

@keyframes scan {
  0% {
    transform: translate3d(0, 0, 0) rotate(70deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(430deg);
  }
}


#termometro{
	position: absolute;
	
	width: 100px;
}

#contatoBox{
	position: absolute;
	background-color: #2aa089;
	margin-left: 248px;
	top: 134px;
	width: 252px;
	height: 65px;
}

#Limpar{
	position: absolute;
	background-color: #2aa089;
	color: white;
	margin-left: 255px;
	top: 355px;
	width: 53px;
    padding: 1px;
	height: 20px;
	cursor: pointer;
}


#Enviar{
	position: absolute;
	background-color: #2aa089;
	color: white;
	margin-left: 440px;
	top: 355px;
	width: 50px;
    padding: 1px;
	height: 20px;
	cursor: pointer;
}


#cientista{
	position: absolute;
	margin-top: 140px;
	margin-left: 265px;
	width: 50px;
	height: 50px;
}

#nomeContato{
	position: absolute;
	margin-top: 140px;
	margin-left: 330px;
	font-size: 13px;
	font-style: bold;
}

#status{
	position: absolute;
	margin-top: 155px;
	margin-left: 330px;
	font-size: 11px;
	font-style: italic;
}


#borda{
	position: absolute;
	margin-left: 250px;
	margin-top: 12px;
	top: 330px;
	width: 248px;
	height: 100px;
	background-color: #fcfcfc;
    text-indent: 5px;
    font-family: "Ubuntu";
}

#botoes{
	position: absolute;
	margin-left: 248px;
	background-color: #2aa089;
	color: white;
	display: inline-block;
	border:1px solid #aaaaaa;
	top: 390px;
	width: 249px;
	height: 124px;
}

.button {
	background-color: #2aa089; 
    border:none;
    border-right: solid;
    border-right-width: 1px;
    border-right-color: white;
    border-left: solid;
    border-left-width: 1px;
    border-left-color: white;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1% 0% 1% 0%;
    font-size: 15px;
    font-family: "Ubuntu";
    cursor: pointer;
}

.button:hover {
	background-color: #156b5a; 
    border:none;
    border-right: solid;
    border-right-width: 1px;
    border-right-color: #8493A8;
    border-left: solid;
    border-left-width: 1px;
    border-left-color: #8493A8;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1% 0% 1% 0%;
    font-size: 15px;
    font-family: "Ubuntu";
    cursor: pointer;
}

.button:focus {
  outline: none;
}

#tutorialBox{
	position: absolute;
	width: 720px;
	height: 88px;
	color: white;
	font-size: 20px;
	font-family: "Ubuntu";
	background-image: url(../imagens/balao.png);
	margin-top: 480px;
	margin-left: 35px;
	padding: 5px;
}

#acelerar{
	position: absolute;
	z-index: 3;
	margin-left: 710px;
	margin-top: 530px;
	cursor: pointer;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
}

@keyframes type3{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

.blink { 

	animation: blink 1s infinite;
  -webkit-animation: blink 1s infinite;
  z-index: 10;
}

.animado{
	animation: type2 6s steps(60, end);

}

#textoCompleto{
	display: none;
	font-family: "Ubuntu";
}

#textoAndamento1{
	font-family: "Ubuntu";
}

#textoAndamento2{
	display: none;
	font-family: "Ubuntu";
}

#socialBox{
	position: absolute;
	margin-top: 175px;
	margin-left: 330px;
}

#instrucao{
	position: absolute;
	margin-top: 295px;
	margin-left: 480px;
	z-index: 2;
}

.nome_contato {
	font-size: 73%;
	font-family: "Ubuntu-Bold";
	font-weight: bold;
	margin-bottom: 1.5%;
}

.status_contato {
	font-size: 60%;
	font-family: "Ubuntu-Medium-Italic";
	margin-bottom: 1.5%;
}

.gameover {
	animation: fimdejogo 15s;
}

#bg {
	width: 800px;
	height: 600px;
    background-size: 800px 600px;
    background-repeat: no-repeat;
	background-image: url("../imagens/background_lab.png");
	animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fimdejogo {
	20% { background-image: url("../imagens/5.png"); }
	40% { background-image: url("../imagens/6.png"); }
	60% { background-image: url("../imagens/7.png"); }
	80% { background-image: url("../imagens/8.png"); }
	100% { background-image: url("../imagens/9.png"); }
} 

/* Standard syntax */ 
@keyframes fimdejogo {
	20% { background-image: url("../imagens/5.png"); }
	40% { background-image: url("../imagens/6.png"); }
	60% { background-image: url("../imagens/7.png"); }
	80% { background-image: url("../imagens/8.png"); }
	100% { background-image: url("../imagens/9.png"); }
}
